<img
  src="/images/users/{{sponsor.image}}"
  alt={{format-message "{sponsorName} website" sponsorName=sponsor.name}}
  loading="lazy"
/>
<span>
  {{format-message "aaa <span title='{sponsorName} website'> test </span>" sponsorName=sponsor.name htmlSafe=true}}
</span>
<input placeholder="--">